<div class="my-12">
  <div class="flex flex-row gap-12 items-center">
    <img
      class="inline-block h-48 w-48 ml-16 mt-12 mb-8 rounded-full ring-2 ring-white"
      [src]="dashboardData.avatar_url"
      alt=""
    />
    <div class="my-12 text-white">
      <h1 class="text-4xl">{{ dashboardData.name }}</h1>
      <div class="leading-6 flex flex-col">
        <h3 class="mt-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore,
          voluptates.
        </h3>
        <h4>Location</h4>
        <a href="http://">Twitter</a>
        <a href="url">link text</a>
      </div>
    </div>
  </div>
  <div class="mx-16">
    <ul role="list" class="divide-y divide-gray-600">
      <li *ngFor="let repo of repoData">
        <app-repoview [data]="repo" />
      </li>
    </ul>
  </div>
</div>
