<div class="flex justify-between gap-x-6 my-5">
  <div class="flex min-w-0 gap-x-4">
    <div class="min-w-0 flex-auto text-white">
      <p class="text-2xl text-purple-400">{{ data.name }}</p>
      <p class="w-5/6 text-sm text-gray-300">
        {{ data.description !== null ? data.description : "No Description" }}
      </p>
      <div class="flex flex-row gap-2">
        <button
          class="bg-purple-500 bg-opacity-10 text-purple-400 rounded-lg mt-2 px-4"
          *ngFor="let tag of tagData"
        >
          {{ tag.name }}
        </button>
      </div>
    </div>
  </div>
  <div class="text-xs text-gray-500 mt-5 items-end flex">
    Last commit&nbsp;<time datetime="2023-01-23T13:23Z">3h ago</time>
  </div>
</div>
